# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
*.iml

# ===== Gradle =====
.gradle/
gradle/
gradlew
gradlew.bat
build.gradle
settings.gradle
build/

# ===== Java =====
*.class
*.log
hs_err_pid*

# ===== Docker / DB =====
data/
